{{ define "main" }}
{{ partial "hero" . }}
<div class="wrapper">
    <div class="block flow">
        {{ with .Params.services_intro }}
        <h1 class="text-primary">{{ .heading }}</h1>
        <p>{{ .copy }}</p>
        <ul class="service-breakdown">
            {{ range .service_list }}
            <li class="service-breakdown__item">{{ .service | markdownify }}</li>
            {{ end }}
        </ul>
        {{ if .closing_copy }}
        <p>{{ .closing_copy }}</p>
        {{ end }}
        {{ if .emergency_clinics }}
        <div class="auto-grid">
            {{ range .emergency_clinics }}
            <div class="emergency-clinic">
                <h3>{{ .clinic_name }}</h3>
                <p>{{ .clinic_address | markdownify }}</p>
                <a href="tel:{{ .clinic_phone }}">{{ .clinic_phone }}</a>
            </div>
            {{ end }}
        </div>
        {{ end }}
        {{ end }}
    </div>
</div>
{{ partial "services-cta" }}
{{ end }}