.hero {
  position: relative;
  height: 30vh;

  @include breakpoint(md) {
    height: 60vh;
  }

  &__image {
    height: 100%;
    object-fit: cover;
  }

  svg {
    max-width: 100vw;
    position: absolute;
    bottom: -4%;
    left: 0;
    right: 0;
    margin-bottom: -1px;
  }
}
