.footer {
  background-color: $secondary-color;
  color: $white;
  padding: $ic-700 0;
  font-size: $ic-200;

  &__wrapper {
    display: grid;
    gap: $ic-400;

    @include breakpoint(md) {
      display: grid;
      grid-template-columns: repeat(5, 1fr);
      gap: $ic-400;
    }
  }

  iframe {
    height: 20rem;

    @include breakpoint(md) {
      height: 16rem;
    }
  }

  a {
    color: $white;
    text-decoration: none;
    display: block;

    &:hover,
    &:focus {
      text-decoration: underline;
    }
  }

  p {
    margin-bottom: 0;
  }

  &__nav {
    display: flex;
    justify-content: center;

    ul {
      margin-bottom: 0;
    }
  }

  &__nav-list {
    display: flex;
    flex-direction: column;
    padding: 0;
  }

  &__nav-list-item {
    list-style-type: none;
  }

  &__social-grid {
    display: flex;
    gap: 1rem;
  }

  svg {
    width: $ic-600;
    fill: $white;
  }

  &__affiliated {
    img {
      max-width: 200px;
    }
  }
}
