{{ $image := (.Resources.GetMatch (index .image)) }}
{{ $smallwebp := $image.Resize "400x q80 webp" }}
{{ $mediumwebp := $image.Resize "800x q80 webp" }}
{{ $smalljpg := $image.Resize "400x q80" }}
{{ $mediumjpg := $image.Resize "800x q80" }}
<picture>
  <source srcset="{{ $smallwebp.RelPermalink }} 500w, {{ $mediumwebp.RelPermalink }} 800w" type="image/webp" >
  <source srcset="{{ $smalljpg.RelPermalink }} 500w, {{ $smalljpg.RelPermalink }} 800w" type="image/jpg" >
  <img loading="lazy"
      src="{{ $image.RelPermalink }}" width="{{ $image.Width }}" height="{{ $image.Height }}" alt="{{ .Params.seo.featured_image_alt }}" class="blog-card__image">
</picture>