{{ if eq .heading "Wellness and Prevention" }}
{{ partial "svg-icons/wellness-and-prevention.svg" . }}
{{ end }}
{{ if eq .heading "Laboratory" }}
{{ partial "svg-icons/lab.svg" . }}
{{ end }}
{{ if eq .heading "Surgery" }}
{{ partial "svg-icons/surgery.svg" . }}
{{ end }}
{{ if eq .heading "Dental Procedures" }}
{{ partial "svg-icons/dental.svg" . }}
{{ end }}
{{ if eq .heading "Grooming" }}
{{ partial "svg-icons/grooming.svg" . }}
{{ end }}
{{ if eq .heading "Emergency Services" }}
{{ partial "svg-icons/emergency.svg" . }}
{{ end }}