// Colors
$primaryColor: #2b3b93;
$secondaryColor: #7881bc;
$lightBlue: #afd1ed;
$gray: #58595b;
$lightGray: #f6f6f6;
$black: #232323;
$tan: #c6bd9e;
$white: #ffffff;

// overlays
$whiteOverlay: rgba(255, 255, 255, 0.9);

$blueShadow: rgba(43, 59, 147, 0.2);

// Fonts
$primaryFont: Helvetica, Arial, sans-serif;
$secondaryFont: Arial, sans-serif;

$mobileHeader: 100px;
$desktopHeader: 130px;

// Scale and rhythm
$ic-100: 0.75rem;
$ic-200: 1rem;
$ic-300: 1.333rem;
$ic-400: 1.777rem;
$ic-500: 2.369rem;
$ic-600: 3.157rem;
$ic-700: 4.209rem;

$measure: 80ch;